/**
 * style definitions for the AsideView component
 *
 * @module fonio/features/Editor
 */

@import '../../../parameters.scss';


.fonio-AsideViewLayout
{
    overflow: hidden;

    border-right: 1px solid $color-sec-stroke;
    background: $color-sec-bg;
    /*
     * root component
     */

    @extend .flex-stretched-column;
    /*
     * secondary layout components
     */
    .aside-header
    {
        display: flex;

        flex-flow: column nowrap;
        button
        {
            padding: $gutter-medium;

            text-align: left;
        }
        .returnToLanding-btn
        {
            @extend .primary-item;
            width: 100%;
            .fonio-icon
            {
                padding-right: $gutter-small;
            }
            &:hover
            {
                @extend .primary-item-intent;
            }
            margin-bottom: $gutter-medium;
        }
    }
    .aside-option-container
    {
        position: relative;

        flex: 1;
        .fonio-ResourcesManagerLayout,
        .fonio-SectionsManagerLayout
        {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;

            @extend .animated;
        }
    }

    .global-settings-btn
    {
        margin-left: $gutter-medium;
        margin-right: $gutter-medium;
        padding: $gutter-medium;
        @extend .important-item;
        &:hover{
            @extend .important-item-intent;
        }
        // margin-bottom: $gutter-medium;
        img
        {
            position: relative;
            top: $gutter-small;
        }
    }
}
