/**
 * style definitions for the EditorLayout component
 *
 * @module fonio/features/Editor
 */

@import '../../../parameters.scss';

.fonio-StoryEditorLayout
{
    position: relative;

    display: flex;
    flex: 10;
    flex-direction: row;
    flex-wrap: nowrap;

    max-width: 100%;

    @extend .flex-stretched-row;
    .fonio-AsideViewLayout
    {
        flex: 1;

        min-width: 16.6%;
    }
    .fonio-SectionEditor
    {
        flex: 5;

        min-width: 84.4%;

        @extend .flex-stretched-column;
    }

    .no-sections-selected-container
    {
        flex: 5;

        padding: $gutter-large;

        @extend .flex-stretched-column;
        button
        {
            padding: $gutter-large;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
        }

        ul
        {
            padding: 0;

            @extend .flex-stretched-column;
            li
            {
                padding: 0;

                list-style-type: none;

                @extend .flex-stretched-column;
                margin-bottom: $gutter-medium;
            }
        }
        .create-new-section-container
        {
            margin-top: $gutter-large;

            @extend .flex-stretched-column;
            button
            {
                cursor: pointer;

                @extend .important-item;
                &:hover
                {
                    @extend .important-item-intent;
                }
            }
        }
    }
}
