{
    "parser": "babel-eslint",
    "extends": [
      "@yomguithereal/eslint-config/es7",
      "@yomguithereal/eslint-config/react"
    ],
    "rules": {
      "require-jsdoc": 2,
      "react/forbid-prop-types": 0,
      "react/jsx-no-bind": 0,

      "prefer-template": 2,
      "react/boolean-prop-naming": 2,
      "react/no-typos": 2,
      "react/no-unescaped-entities": 2,
      "react/no-will-update-set-state": 2,
      "react/void-dom-elements-no-children": 2,
      "react/jsx-child-element-spacing": 2,
      "react/jsx-closing-tag-location": 2,
      "react/jsx-curly-brace-presence": [
        2,
        {
          "props": "always",
          "children": "never"
        }
      ]
    },
    "globals": {
      "FONIO_CONFIG": true
    }
  }