<!DOCTYPE html>
<html>
<head>
  <title>Fonio</title>
  <meta charset="utf-8">
  <!-- icons -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="apple-touch-icon" sizes="120x120" href="${URL_PREFIX}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="${URL_PREFIX}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="${URL_PREFIX}/favicon-16x16.png">
  <link rel="manifest" href="${URL_PREFIX}/manifest.json">
  <link rel="mask-icon" href="${URL_PREFIX}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <!-- META DUBLIN CORE -->
  <meta name="DC.Title" lang="fr" content="Fonio" />
  <meta name="DC.Date.created" scheme="W3CDTF" content="2017-09-01" />
  <meta name="DC.subject" xml:lang="en-GB" content="data-presentation" />
  <meta name="DC.subject" xml:lang="en-GB" content="rich content edition" />
   <!-- END META DUBLIN CORE -->

  <!-- REGULAR META -->
  <meta name="author" content="médialab Sciences Po"/>
  <meta name="keywords" content="data stories, data, data comment, rich media, academic editing, scholarly media, scholarly editor, academic editor"/>
  <meta name="description" content="The data stories editor" />
  <meta name="viewport" content="user-scalable=no,width=device-width" />
  <!-- END REGULAR META -->

  <!-- META TWITTER -->
  <meta name="twitter:card" value="summary">
  <!-- <meta name="twitter:site" content="https://fonio.surge.sh/"> -->
  <meta name="twitter:title" content="Fonio">
  <meta name="twitter:description" content="The data stories editor">
  <meta name="twitter:creator" content="@medialab">
  <!-- todo : Twitter Summary card images must be at least 200x200px -->
  <!-- <meta name="twitter:image" content="https://fonio.surge.sh/apple-touch-icon.png"> -->
  <!-- end meta twitter-->

  <!-- META GOOGLE + -->
  <meta itemprop="name" content="Fonio">
  <meta itemprop="description" content="The data stories editor">
  <!-- <meta itemprop="image" content="https://fonio.surge.sh/bulgur-rs.png"> -->
  <!-- END META GOOGLE + -->

  <!-- META OPEN GRAPH / FACEBOOK -->
  <meta property="og:title" content="Fonio"/>
  <meta property="og:type" content="website"/>
  <!-- <meta property="og:url" content="https://fonio.surge.sh/"/> -->
  <meta property="og:description" content="The data stories editor"/>
  <!-- <meta property="og:image" content="https://fonio.surge.sh/fonio-rs.png"/> -->
  <!-- <meta property="og:image:width" content="1200"/> -->
  <!-- <meta property="og:image:height" content="900"/> -->
  <!-- END META OPEN GRAPH / FACEBOOK -->
   <style type="text/css">
    body {
      background-color: #f4f4f4;
    }
    .spinner-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .logo-img{
      display: inline;
      max-height: 1em;
    }
    .spinner {
      width: 40px;
      height: 40px;
      background-color: #3fb0ac;

      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotateplane {
      0% { -webkit-transform: perspective(120px) }
      50% { -webkit-transform: perspective(120px) rotateY(180deg) }
      100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes sk-rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
      } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  </style>
</head>
<body>
  <!--CSS Spinner-->
  <div class="spinner-wrapper">
    <h1><img class="logo-img" src="${URL_PREFIX}/android-chrome-96x96.png"></img> Fonio</h1>
    <!-- <div class="spinner"></div> -->
  </div>
  <!-- Element in which to mount the app -->
  <div id="mount"></div>
  <!-- FONIO_CONFIG -->
  <script type="text/javascript">
    window.FONIO_CONFIG = {
      apiUrl: '${API_URL}',
      youtubeAPIKey: '${YOUTUBE_API_KEY}',
      maxSectionLevel: ${MAX_SECTION_LEVEL},
      sessionName: '${SESSION_NAME}',
      urlPrefix: '${URL_PREFIX}',
      maxResourceSize: ${MAX_RESOURCE_SIZE},
      maxStorySize: ${MAX_STORY_SIZE},
      maxFolderSize: ${MAX_FOLDER_SIZE},
      maxBatchNumber: ${MAX_BATCH_NUMBER},
      backgroundColor: '${BACKGROUND_COLOR}'
    };
  </script>
  <!-- Loading Bundle -->
  <script type="text/javascript" src="${URL_PREFIX}/build/bundle.js"></script>
</body>
</html>
