.bib-wrapper-mini {
  .Bibliography
  {
    .csl-entry
    {
        overflow: hidden;
        max-height: 4.5rem;
        word-break: break-all;
        position: relative;
        &:before
        {
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
        }
    }
    a
    {
        pointer-events: none;
    }
  }
}