/**
 * style definitions for the SectionCard component
 *
 * @module fonio/components/SectionCard
 */
@import '../../parameters.scss';

.fonio-SectionCard
{
    /*
     * root component
     */
    padding: $gutter-medium;

    list-style-type: none;

    cursor: move;
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    -webkit-touch-callout: none; /* iOS Safari */
     -khtml-user-select: none; /* Konqueror HTML */
    @extend .animated;
    @extend .primary-item;

    .card-body,
    .card-footer
    {
        overflow: hidden;
        @extend .animated;
    }

    &:hover
    {
        @extend .primary-item-intent;
    }
    &.active
    {
        @extend .important-item-active;
    }
    /*
     * secondary layout components
     */
    .card-header,
    .card-body
    {
        display: flex;
        flex-flow: row nowrap;
    }

    .card-header
    {
        font-size: $font-size-2;
        img
        {
            max-height: $font-size-3;
        }
        h5
        {
            margin: 0;
        }
    }
    .card-body
    {
        .info-column
        {
            overflow-y: hidden;
            flex: 3;

            max-height: 10rem;
            margin-top: 0;
            padding-right: $gutter-medium;
            h5
            {
                font-size: $font-size-3;

                display: flex;
                flex-flow: row nowrap;

                margin: 0;
                margin-bottom: $gutter-medium;

                cursor: pointer;
                .icons-container
                {
                    margin-right: $gutter-medium;
                    padding-top: $gutter-small;
                }
                img
                {
                    height: $font-size-3;
                }
            }
            .description
            {
                font-style: italic;

                overflow: auto;
            }
        }
        .buttons-column
        {
            display: flex;
            flex: 2;
            flex-flow: column nowrap;
            .edit-btn
            {
                font-size: $font-size-3;

                @extend .important-item;
                &:hover
                {
                    @extend .important-item-intent;
                }
            }
        }
    }
    .card-footer
    {
        .button-row
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;
        }
    }

    &.select-mode
    {
        cursor: pointer;

        color: $background-default;
        border: 1px solid $background-default;
        background: $primary-color;
    }

    .delete-confirm-btn
    {
        @extend .dangerous-item;
        &:hover
        {
            @extend .dangerous-item-intent;
        }
    }

    .level-up-btn
    {
        font-size: $font-size-1;
    }
    .level-down-btn
    {
        font-size: $font-size-1 * 1.2;
    }
}
