/**
 * style definitions for the AssetContainer component
 *
 * @module fonio/components/AssetContainer
 */
@import '../../parameters.scss';


.fonio-resource-container
{
    width: 100%;
    margin: 0;
    padding: $gutter-medium;

    @extend .interactive-item;
    &:hover
    {
        @extend .interactive-item-intent;
    }

    &.data-presentation
    {
        .figure-container
        {
            min-height: 30rem;
        }
        /*figcaption
        {
            display: none;
        }*/
    }

    .figure-container
    {
        position: relative;

        display: flex;

        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        img
        {
            max-width: 100%;
            max-height: 100%;
        }
    }
    figcaption
    {
        margin-top: $gutter-medium;

        @extend .flex-stretched-column;

        input,
        textarea
        {
            margin-bottom: $gutter-small;
            padding: $gutter-medium;
        }

        .source-container
        {
            @extend .flex-stretched-row;
            align-items: center;
            input
            {
                margin-bottom: 0;

                flex: 1;
            }
        }
    }
}
