/**
 * style definitions for the LinkContextualization component
 *
 * @module fonio/components/LinkContextualization
 */
@import '../../parameters.scss';

.fonio-LinkContextualization
{
    margin: 0;
    padding: 0;// $gutter-small 0 $gutter-small 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    // border-radius: $gutter-medium;

    @extend .interactive-item;
    // background: $color-sec-stroke;

    display: inline-block;

    .items-container{
        display: flex;
        flex-flow: row nowrap;
    }


    input
    {
        // margin-left: $gutter-medium;
        padding: 0;
        &:hover,
        &:focus
        {
            @extend .interactive-item-intent-active;
        }
        display: inline;
    }

    button,
    a
    {
        font-size: $font-size-1 * .9;
        margin: 0;
        padding-bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus
        {
            @extend .interactive-item-intent-active;
        }
        img{
            height: 2em;
            display: inline-block;
        }

        // margin-right: $gutter-medium;
    }
}
