/**
 * style definitions for the DropZone component
 *
 * @module fonio/components/DropZone
 */

@import '../../parameters.scss';

.fonio-DropZone
{
    /*
     * root component
     */
    position: relative;

    width: 100%;// todo: parametrize that
    height: 10rem;// todo: parametrize that

    text-align: center;

    border: 1px dashed $color-very-dark;// todo: parametrize that

    @extend .interactive-item;
    /*
     * secondary layout components
     */
    .caption-wrapper
    {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;

        @extend .absolute-stretched;

        &.active
        {
            @extend .important-item;
        }
        &.reject
        {
            @extend .dangerous-item-intent;
        }
        .caption-container
        {
            font-size: $font-size-2-5;
            font-style: italic;

            display: flex;
            align-items: center;
            flex: 1;
            flex-flow: column nowrap;
        }
    }
}
