/**
 * style definitions for the ResourceSearchWidget component
 *
 * @module fonio/components/ResourceSearchWidget
 */
@import '../../parameters.scss';

.fonio-ResourceSearchWidget
{
    background: $color-warm-grey;
    padding: $gutter-small;
    .search-form
    {
        @extend .flex-stretched-row;
        margin-bottom: $gutter-small;
        .arobase
        {
            font-size: $font-size-3;

            flex: 1;

            text-align: center;
        }
        input
        {
            flex: 5;
            @extend .interactive-item;
            &:hover,
            &:focus{
                @extend .interactive-item-intent;
            }
        }
    }
    .choice-options-container
    {
        overflow: auto;

        max-height: 10rem;
        margin: 0;
        padding: 0;
    }
    .choice-option
    {
        padding: $gutter-medium;
        margin-bottom: $gutter-small;

        list-style-type: none;

        @extend .interactive-item;
        @extend .animated;
        &:hover
        {
            cursor: pointer;

            @extend .interactive-item-intent;
        }
        &.active
        {

            @extend .important-item;
            &:hover{
                @extend .important-item-intent;
            }
        }

        &.new-option
        {
            margin-top: $gutter-medium;
            @extend .important-item;
            &:hover{
                @extend .important-item-intent;
            }
        }
    }
}
