/**
 * style definitions for the ResourceSearchWidget component
 *
 * @module fonio/components/ResourceSearchWidget
 */
@import '../../parameters.scss';

.fonio-ResourceSearchWidget
{
    background: $background-default;
    .search-form
    {
        @extend .flex-stretched-row;
        .arobase
        {
            font-size: $font-size-3;

            flex: 1;

            text-align: center;
        }
        input
        {
            flex: 5;
        }
    }
    .choice-options-container
    {
        overflow: auto;

        max-height: 10rem;
        margin: 0;
        padding: 0;
        .choice-option
        {
            padding: $gutter-medium;

            list-style-type: none;

            @extend .important-item;
            @extend .animated;
            &:hover,
            &.active
            {
                cursor: pointer;

                @extend .important-item-intent;
            }
        }
    }
}
