/**
 * style definitions for the AuthorsManager component
 *
 * @module fonio/components/AuthorsManager
 */
@import '../../parameters.scss';

.fonio-AuthorsManager
{
    margin: 0;
    padding: 0;
    li
    {
        margin-bottom: $gutter-small;

        list-style-type: none;

        @extend .flex-stretched-row;

        .main-part
        {
            flex: 10;
        }
    }

    .remove-btn
    {
        padding-top: $gutter-medium;

        @extend .dangerous-item;
        &:hover
        {
            @extend .dangerous-item-intent;
        }
    }

    .icon-container
    {
        flex: 1;

        cursor: pointer;
        img
        {
            height: $font-size-3;
        }
    }

    .add-author
    {
        margin-top: $gutter-large;
        padding: $gutter-medium;

        @extend .interactive-item;
        &:hover
        {
            @extend .interactive-item-intent;
        }
    }
}
