/**
 * style definitions for the SectionEditor component
 *
 * @module fonio/components/SectionEditor
 */
@import '../../parameters.scss';


.fonio-SectionEditor
{
    @extend .flex-stretched-column;
    q
    {
        quotes: none;

        background: $color-warm-grey;
    }

    pre,
    blockquote
    {
        padding: $gutter-medium;

        background: $color-warm-grey;
    }

    blockquote
    {
        position: relative;

        margin: 0;
        padding: $gutter-large;

        quotes: '« ' ' »' '‹ ' ' ›';

        &:before
        {
            position: absolute;
            top: $gutter-small;
            left: $gutter-small;

            content: open-quote;
        }
        &:after
        {
            position: absolute;
            right: $gutter-small;
            bottom: $gutter-small;

            content: close-quote;
        }
    }
    .editable-title,
    .editor-wrapper
    {
        padding-right: 10%;
        padding-left: 10%;
    }
    .editable-title
    {
        @extend .flex-stretched-row;
        input
        {
            flex: 1;
        }
    }
    .editor-wrapper
    {
        overflow: auto;
        flex: 1;

        padding-bottom: 10rem;
        .scholar-draft-SectionEditor
        {
            .scholar-draft-BasicEditor
            {
                &.active,
                &:hover
                {
                    .public-DraftEditor-content
                    {
                        background: $color-very-light;
                    }
                }
            }
            .public-DraftEditor-content,
            .public-DraftEditorPlaceholder-inner
            {
                font-family: $editable-font-stack;

                padding: $gutter-medium;

                @extend .animated;

                .public-DraftStyleDefault-block
                {
                    margin-bottom: $gutter-medium;
                }
            }
            .scholar-draft-NoteContainer
            {
                margin-top: $gutter-large;
                padding: $gutter-medium 0 $gutter-medium 0;

                border-top: 1px solid $color-warm-grey;
                &:not(:first-of-type)
                {
                    border-bottom: 1px solid $color-warm-grey;
                }
                .note-header
                {
                    border-bottom: 1px solid $color-very-light;

                    @extend .flex-stretched-row;

                    button
                    {
                        order: 2;

                        width: $font-size-5;

                        text-align: center;
                    }
                    h3
                    {
                        flex: 1;
                        order: 1;
                    }
                }
            }
            .scholar-draft-BlockAssetContainer
            {
                min-height: 10rem;
            }
        }
    }

    .ReactTable
    {
        max-width: 50rem;
    }
}
