/**
 * style definitions for the SectionEditor component
 *
 * @module fonio/components/SectionEditor
 */
@import '../../parameters.scss';


.fonio-SectionEditor
{
    @extend .flex-stretched-column;
    q
    {
        quotes: none;

        background: $color-warm-grey;
    }
    pre,
    blockquote
    {
        padding: $gutter-medium;

        background: $color-warm-grey;
    }
    blockquote
    {
        position: relative;

        margin: 0;
        padding: $gutter-large;

        quotes: '« ' ' »' '‹ ' ' ›';
        &:before
        {
            position: absolute;
            top: $gutter-small;
            left: $gutter-small;

            content: open-quote;
        }
        &:after
        {
            position: absolute;
            right: $gutter-small;
            bottom: $gutter-small;

            content: close-quote;
        }
    }
    .editable-title,
    .editor-wrapper
    {
        padding-right: 10%;
        padding-left: 10%;
    }
    .editable-title
    {
        @extend .flex-stretched-row;
        input
        {
            flex: 1;
        }
    }
    .editor-wrapper
    {
        position: relative;

        overflow: auto;

        padding-bottom: 10rem;// todo: parametrize that

        flex: 1;
        .scholar-draft-Editor
        {
            position: absolute;
            top: 0;
            left: 0;

            padding-right: 10%;
            padding-left: 10%;

            width: 80%;
            height: 100%;
            .scholar-draft-BasicEditor
            {
                &.active,
                &:hover
                {
                    .public-DraftEditor-content
                    {
                        background: $color-very-light;
                    }
                }
            }
            .public-DraftEditor-content,
            .public-DraftEditorPlaceholder-inner
            {
                font-family: $editable-font-stack;

                padding: $gutter-medium;

                @extend .animated;
                .public-DraftStyleDefault-block
                {
                    margin-bottom: $gutter-medium;
                }
            }
            .scholar-draft-NoteContainer
            {
                margin-top: $gutter-large;
                padding: $gutter-medium 0 $gutter-medium 0;

                border-top: 1px solid $color-warm-grey;
                &:not(:first-of-type)
                {
                    border-bottom: 1px solid $color-warm-grey;
                }
                .note-header
                {
                    border-bottom: 1px solid $color-very-light;

                    @extend .flex-stretched-row;
                    button
                    {
                        width: $font-size-5;

                        text-align: center;
                    }
                    button:first-of-type
                    {
                        order: 2;
                    }
                    h3
                    {
                        flex: 1;
                        order: 1;
                    }
                }
            }
            .scholar-draft-NotePointer
            {
                font-size: $font-size-1;
                line-height: $font-size-1*2.5;

                display: inline-block;
                display: inline-block;

                width: $font-size-2 * 1.4;
                height: $font-size-2 * 1.4;
                margin-left: $gutter-small;

                cursor: pointer;
                cursor: pointer;
                text-align: center;
                vertical-align: unset;

                border-radius: 50%;// todo: parametrize that

                @extend .important-item;
                &:hover
                {
                    @extend .important-item-intent;
                }
            }
            .scholar-draft-BlockAssetContainer
            {
                min-height: 10rem;// todo: parametrize that
            }
        }
    }
    .editor-bibliography
    {
        margin-bottom: $gutter-large;
    }
    .ReactTable
    {
        max-width: 50rem;// todo: parametrize that
    }

    .contextualization-loading-placeholder{
        @extend .important-item;
        padding: $gutter-small;
    }
}
