/**
 * style definitions for the AssetPreview component
 *
 * @module fonio/components/AssetPreview
 */
@import '../../parameters.scss';

.fonio-AssetPreview
{
  position: relative;
  min-height: 20rem;
  iframe{
    width: 100%;
    border: none;
    height: 100%;
    position: absolute;
  }
  img{
    max-width: 100%;
  }
}