/**
 * style definitions for the BigSelect component
 *
 * @module fonio/components/BigSelect
 */
@import '../../parameters.scss';

.fonio-BigSelect
{
    /*
     * root component
     */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0;
    /*
     * specific micro-components
     */
    input
    {
        display: none;
    }
    /*
     * secondary layout components
     */
    .option
    {
        display: flex;
        align-items: center;
        flex: 1;
        flex-flow: column nowrap;

        text-align: center;

        border: 1px solid $color-sec-stroke;

        @extend .animated;
        @extend .normal-item;
        &.possible
        {
            cursor: pointer;

            opacity: 1;
        }
        &.impossible
        {
            opacity: .1;
        }
        label
        {
            font-size: $font-size-2-5;

            width: 100%;
            height: 100%;
            padding: $gutter-medium;
        }
        &.active
        {
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
        &:not(:first-of-type)
        {
            border-left: none;
        }
        &:hover
        {
            @extend .interactive-item-intent;
        }
    }
}
