@import '../../../parameters.scss';

.fonio-LoginDialog
{
    .link-to-read
    {
        display: flex;
        flex-flow: row nowrap;

        text-align: center;
        .link-btn
        {
            flex: 1;

            padding: $gutter-medium;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
        }
    }
}
