/**
 * style definitions for the SectionsManagerLayout component
 *
 * @module fonio/features/SectionsManager
 */
@import '../../../parameters.scss';

.fonio-SectionsManagerLayout
{
    padding: $gutter-medium;

    @extend .flex-stretched-column;

    .body
    {
        overflow-y: auto;
        flex: 1;

        padding-left: 0;

        .fonio-SectionCard,
        .fonio-OptionSelect
        {
            margin-bottom: $gutter-medium;
        }
    }
    .footer
    {
        @extend .flex-stretched-row;
        .search-query
        {
            flex: 1;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &:focus
            {
                @extend .interactive-item-active;
            }
        }
    }

    #new-section
    {
        padding: $gutter-medium;

        text-align: left;

        @extend .flex-stretched-row;
        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
        &:active
        {
            @extend .important-item-active;
        }

        .fonio-icon
        {
            img
            {
                height: 1em;
                margin-right: $gutter-medium;
            }
        }
    }
}
