/**
 * style definitions for the Section configuration component
 *
 * @module fonio/features/SectionsManager
 */
@import '../../../parameters.scss';


.fonio-SectionConfigurationDialog
{
    .modal-columns-container
    {
        @extend .flex-stretched-row;

        .modal-column
        {
            padding-right: $gutter-medium;

            flex: 1;
        }
    }
    h4
    {
        font-size: $font-size-3;
    }
    h5
    {
        font-size: $font-size-2;

        margin-top: 0;
    }
    input[type='text'],
    textarea
    {
        font-family: $editable-font-stack;
        font-size: $font-size-2;

        padding: $gutter-medium;

        resize: none;
        cursor: text;

        border: none;
        outline: none;

        @extend .animated;
        @extend .interactive-item;
        &:hover
        {
            @extend .interactive-item-intent;
        }
        &:focus
        {
            @extend .interactive-item-active;
        }
    }
    .input-group
    {
        display: flex;

        flex-flow: column nowrap;
        &:not(:last-of-type)
        {
            margin-bottom: $gutter-medium;
        }
        label
        {
            margin-bottom: $gutter-small;
        }
    }

    .modal-footer
    {
        @extend .flex-stretched-row;
        .valid-btn
        {
            font-size: $font-size-3;

            @extend .important-item;
            flex: 1;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
    }

    .data-row
    {
        @extend .flex-stretched-row;
        .modal-column
        {
            padding-right: $gutter-medium;

            flex: 1;
            img
            {
                width: 100%;
            }

            &.preview-container
            {
                position: relative;
            }
        }
    }
}
