/**
 * style definitions for the SectionsManagerLayout component
 *
 * @module fonio/features/SectionsManager
 */
@import '../../../parameters.scss';

.fonio-SectionsManagerLayout
{
    @extend .flex-stretched-column;

    .header,
    .body,
    .footer
    {
        padding-right: $gutter-medium;
        padding-left: $gutter-medium;
    }
    .body
    {
        overflow-y: auto;
        flex: 1;
        .fonio-SectionCard
        {
            margin-bottom: $gutter-medium;
        }
    }
    .footer
    {
        padding-top: $gutter-small;
        padding-bottom: $gutter-small;

        @extend .flex-stretched-row;
        .search-query
        {
            flex: 1;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &:focus
            {
                @extend .interactive-item-active;
            }
        }
    }

    #new-section
    {
        flex: 5;
        flex: 1;

        padding: $gutter-medium;

        text-align: left;

        @extend .flex-stretched-row;
        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
        &:active
        {
            @extend .important-item-active;
        }
    }
}
