/**
 * style definitions for the OptionSelect component
 *
 * @module fonio/components/OptionSelect
 */
@import '../../parameters.scss';

.fonio-OptionSelect
{
    padding: 0;

    border: $color-dark-blue;
    /*
     * root component
     */

    @extend .flex-stretched-row;
    @extend .interactive-item;
    /*
     * specific micro-components
     */
    h5
    {
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: $gutter-medium;
    }

    .select-container
    {
        position: relative;

        flex: 1;
        justify-content: space-between;
        justify-content: center;

        background: white;

        @extend .flex-stretched-row;
        @extend .normal-item;
    }
    &.active
    {
        @extend .important-item-active;
    }

    .Select
    {
        flex: 5;
        *
        {
            outline: none!important;
        }
        &.is-focused
        {
            border: none!important;
        }
        .Select-control
        {
            height: 100%;

            border: none;
            background: inherit;
        }

        .Select-menu-outer
        {
            border-radius: none!important;
        }

        .Select-placeholder,
        .Select-value
        {
            margin-top: $gutter-small;
        }
    }
}
