/**
 * style definitions for the StoryView component
 *
 * @module fonio/features/StoryView
 */

@import '../../../parameters.scss';

.fonio-StoryViewLayout
{
  flex: 1;
  @extend .flex-stretched-column;
  overflow: hidden;
  .fonio-main-row
  {
    position: relative;

    display: flex;
    flex: 10;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}