/**
 * style definitions for the GlossaryMention component
 *
 * @module fonio/components/GlossaryMention
 */
@import '../../parameters.scss';

.fonio-GlossaryMention
{
    // background: $color-sec-stroke;
    display: inline-block;

    margin: 0;
    padding: 0;// $gutter-small 0 $gutter-small 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    // border-radius: $gutter-medium;

    @extend .interactive-item;

    .items-container
    {
        display: flex;
        flex-flow: row nowrap;
    }


    input
    {
        font-style: italic;

        display: inline;
        // margin-left: $gutter-medium;

        padding: 0;
        &:hover,
        &:focus
        {
            @extend .interactive-item-intent-active;
        }
    }

    button,
    a
    {
        font-size: $font-size-1 * .9;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: center;

        margin: 0;
        padding-bottom: 0;

        img
        {
            display: inline-block;

            height: 2em;
        }

        // margin-right: $gutter-medium;
    }
}
