/**
 * style definitions for the GlossaryMention component
 *
 * @module fonio/components/GlossaryMention
 */
@import '../../parameters.scss';

.fonio-GlossaryMention
{
    margin: 0;
    padding: $gutter-small 0 $gutter-small 0;

    cursor: pointer;

    border-radius: $gutter-medium;

    @extend .important-item;

    input
    {
        margin-left: $gutter-medium;
        padding: 0;
        &:hover,
        &:focus
        {
            @extend .important-item-intent;
        }
    }

    button
    {
        font-size: $font-size-1;

        margin-right: $gutter-medium;
    }
}
