

.fonio-PaginatedList
{
    display: flex;
    overflow: hidden;

    flex-flow: column nowrap;
    justify-content: stretch;
    .items-container
    {
        overflow: auto;

        flex: 1;
        // max-height: calc(100% - 2rem);
         > div
        {
            display: flex;
            overflow-y: auto;

            flex-flow: row wrap;
        }
    }
    .pagination
    {
        min-height: 5rem;
    }

    .pagination-previous,
    .pagination-next{
        &.is-disabled{
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .pagination-list
    {
        li
        {
            &.is-current
            {
                a
                {
                    color: white!important;
                    background: brown;
                }
            }
        }
    }


    .my-masonry-grid
    {
        display: flex;

        width: auto;
        margin-left: -1rem; /* gutter size offset */
    }
    .my-masonry-grid_column
    {
        padding-left: 1rem; /* gutter size */

        background-clip: padding-box;
    }

    .my-masonry-grid_column > div
    {
        width: 100%;
    }
}
