/**
 * style definitions for the ResourceConfigurationDialog component
 *
 * @module fonio/features/ResourceConfigurationDialog
 */
@import '../../../parameters.scss';


.fonio-resource-configuration-dialog
{
    .modal-columns-container
    {
        @extend .flex-stretched-row;

        .modal-column
        {
            flex: 1;

            padding-right: $gutter-medium;
        }
    }
    h4
    {
        margin-top: 0;
        font-size: $font-size-3;
    }
    h5
    {
        margin-top: 0;
        font-size: $font-size-2;

        margin-top: 0;
    }
    input[type='text'],
    textarea
    {
        font-family: $editable-font-stack;
        font-size: $font-size-2;

        padding: $gutter-medium;

        resize: none;
        cursor: text;

        border: none;
        outline: none;

        @extend .animated;
        @extend .interactive-item;
        &:hover
        {
            @extend .interactive-item-intent;
        }
        &:focus
        {
            @extend .interactive-item-active;
        }
    }
    .input-group
    {
        display: flex;
        flex-flow: column nowrap;
        &:not(:last-of-type)
        {
            margin-bottom: $gutter-medium;
        }
        label
        {
            margin-bottom: $gutter-small;
        }
    }

    .modal-footer
    {
        @extend .flex-stretched-row;
        .valid-btn
        {
            font-size: $font-size-3;

            flex: 1;

            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
    }

    .data-row
    {
        @extend .flex-stretched-row;
        .modal-column
        {
            flex: 1;

            padding-right: $gutter-medium;
            img
            {
                width: 100%;
            }

            &.preview-container
            {
                position: relative;

                max-width: 50%;
            }
        }
    }

    .bibtext-editor-container
    {
        margin-right: $gutter-medium;
        textarea
        {
            overflow: auto;

            max-height: 30rem;
        }
    }

    .fonio-DropZone{
        margin-bottom: $gutter-large;
    }

    .data-presentation-input
    {
        @extend .flex-stretched-column;
        button{
            padding: $gutter-medium;
            @extend .interactive-item;
            &:hover{
                @extend .interactive-item-intent;
            }
        }
    }
}
