/**
 * style definitions for the AssetsManagerLayout component
 *
 * @module fonio/features/AssetsManager
 */
@import '../../../parameters.scss';

.fonio-ResourcesManagerLayout
{
    padding: $gutter-medium;

    @extend .flex-stretched-column;

    // &.resources-prompted
    // {
    //     color: $background-default;
    //     background: $primary-color;
    // }

    .asset-select-help
    {
        padding: 0 $gutter-medium 0 $gutter-medium;
    }

    // .understood-btn{
    //     padding: $gutter-medium;
    //     @extend .important-item;
    //     &:hover{
    //         @extend .important-item-intent;
    //     }
    // }

    .body
    {
        overflow-y: auto;
        flex: 1;

        padding-left: 0;
        .fonio-ResourceCard
        {
            margin-bottom: $gutter-medium;
            margin-left: 0;
        }
    }

    #new-resource
    {
        padding: $gutter-medium;

        text-align: left;

        @extend .flex-stretched-row;
        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
        &:active
        {
            @extend .important-item-active;
        }

        .fonio-icon
        {
            img
            {
                height: 1em;
                margin-right: $gutter-medium;
            }
        }
    }

    .batch-drop-container{
        .fonio-DropZone{
            // height: unset;

            transition: all .5s ease;

            .caption-wrapper{
                overflow: auto;
                .caption-container{
                    padding: $gutter-medium;
                    h3{
                        transition: all .2s ease;
                        overflow: hidden;
                        max-height: 10rem;
                        opacity: 1;
                        font-size: $font-size-2;
                    }
                    .details-container{
                        text-align : left;
                        font-size: $font-size-2;
                        overflow: hidden;
                        max-height: 0;
                        transition: all .5s ease;
                        ul{
                            padding-left: $gutter-large;
                        }
                        li{
                            margin-bottom: $gutter-medium;
                        }
                    }
                }
                &:hover{
                    .details-container{
                        max-height: 20rem;
                    }
                    h3{
                        max-height: 0;
                        opacity: 0e-6;
                        margin: 0;
                    }
                }
            }
            &:hover{
                height: 20rem;
            }
        }
    }

    .footer
    {
        .search-query
        {
            flex: 1;

            width: 100%;
            margin-top: $gutter-small;
            margin-bottom: $gutter-small;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &:focus
            {
                @extend .interactive-item-active;
            }
        }
    }
}
