/**
 * style definitions for the AssetsManagerLayout component
 *
 * @module fonio/features/AssetsManager
 */
@import '../../../parameters.scss';

.fonio-ResourcesManagerLayout
{
    @extend .flex-stretched-column;
    padding: $gutter-medium;

    // &.resources-prompted
    // {
    //     color: $background-default;
    //     background: $primary-color;
    // }

    .asset-select-help
    {
        padding: 0 $gutter-medium 0 $gutter-medium;
    }

    .understood-btn{
        padding: $gutter-medium;
        @extend .important-item;
        &:hover{
            @extend .important-item-intent;
        }
    }

    .body
    {
        overflow-y: auto;
        flex: 1;

        padding-left: 0;
        .fonio-ResourceCard
        {
            margin-bottom: $gutter-medium;
            margin-left: 0;
        }
    }

    #new-resource
    {
        padding: $gutter-medium;

        text-align: left;

        @extend .flex-stretched-row;
        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
        &:active
        {
            @extend .important-item-active;
        }
    }

    .footer
    {
        .search-query
        {
            flex: 1;
            width: 100%;
            margin-top: $gutter-small;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &:focus
            {
                @extend .interactive-item-active;
            }
        }
    }
}
