/**
 * style definitions for the AssetsManagerLayout component
 *
 * @module fonio/features/AssetsManager
 */
@import '../../../parameters.scss';

.fonio-ResourcesManagerLayout
{
    
    @extend .flex-stretched-column;


    &.resources-prompted
    {
        color: $background-default;
        background: $primary-color;
    }

    .asset-select-help{
        padding: 0 $gutter-medium 0 $gutter-medium;
    }

    .header,
    .body,
    .footer
    {
        padding-right: $gutter-medium;
        padding-left: $gutter-medium;
    }
    .body
    {
        flex: 1;

        @extend .flex-stretched-column;
        .resources-list{
            overflow-y: auto;
            flex: 5;
            padding-left: 0;
            .fonio-ResourceCard
            {
                margin-bottom: $gutter-medium;
                margin-left: 0;
            }
        }

        #new-resource
        {
            padding: $gutter-medium;

            text-align: left;
            @extend .flex-stretched-row;
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
            &:active
            {
                @extend .important-item-active;
            }
        }
    }
    .footer
    {
        padding-top: $gutter-small;
        padding-bottom: $gutter-small;

        @extend .flex-stretched-row;
        .search-query
        {
            flex: 1;
            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &:focus
            {
                @extend .interactive-item-active;
            }
        }
    }
}
