/**
 * style definitions for the BibRefsEditor component
 *
 * @module fonio/components/BibRefsEditor
 */
@import '../../parameters.scss';

.fonio-BibRefsEditor
{
    @extend .flex-stretched-column;
    .reference-editors-container
    {
        flex: 1;

        @extend .flex-stretched-row;

        .reference-editor
        {
            margin-bottom: $gutter-large;
            .editor-title
            {
                @extend .flex-stretched-row;
                .title
                {
                    flex: 1;
                }
                .button
                {
                    border-radius: 50%;

                    @extend .interactive-item;
                    &:hover
                    {
                        @extend .interactive-item-intent;
                    }
                }
            }
        }
    }

    .fonio-BibEditorGui
    {
        overflow: auto;

        max-height: 30rem;
    }

    .property-group
    {
        @extend .flex-stretched-row;
        .property-label
        {
            line-height: $gutter-medium*3;

            flex: 1;

            padding-right: $gutter-medium;

            text-align: right;
        }
        .property-input
        {
            flex: 3;

            margin-bottom: $gutter-medium;

            @extend .flex-stretched-row;
            .fonio-OptionSelect
            {
                flex: 1;
            }
            .remove-property
            {
                flex: 0;
            }
        }
    }
    .fonio-icon-image
    {
        width: $font-size-3;
        height: $font-size-3;
        margin-left: $gutter-medium;
    }

    .add-item
    {
        width: 100%;

        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
    }

    .sub-properties-group
    {
        padding-left: $gutter-medium;

        @extend .flex-stretched-column;
        .subcategory-container
        {
            margin-bottom: $gutter-medium;
        }
    }

    input[type='text']
    {
        @extend .interactive-item;
        &:hover
        {
            @extend .interactive-item-intent;
        }
        &:focus
        {
            @extend .interactive-item-active;
        }
    }
}
