/**
 * style definitions for the BibRefsEditor component
 *
 * @module fonio/components/BibRefsEditor
 */
@import '../../parameters.scss';

.fonio-BibRefsEditor
{
    @extend .flex-stretched-column;
    .reference-editors-container
    {
        flex: 1;
        @extend .flex-stretched-row;

        .reference-editor{
          margin-bottom: $gutter-large;
          .editor-title{
            @extend .flex-stretched-row;
            .title{
              flex: 1;
            }
            .button{
              @extend .interactive-item;
              border-radius : 50%;
              &:hover{
                @extend .interactive-item-intent;
              }
            }
          }
        }
    }

    .fonio-BibEditorGui{
      max-height: 30rem;
      overflow: auto;
    }

    .property-group {
      @extend .flex-stretched-row;
      .property-label
      {
        flex: 1;
        line-height: $gutter-medium*3;
        text-align: right;
        padding-right: $gutter-medium;
      }
      .property-input{
        flex: 3;
        @extend .flex-stretched-row;
        margin-bottom: $gutter-medium;
        .fonio-OptionSelect,
        {
          flex: 1;
        }
        .remove-property{
          flex: 0;
        }
      }
    }
    .fonio-icon-image
    {
        width: $font-size-3;
        height: $font-size-3;
        margin-left: $gutter-medium;
    }

    .add-item{
      @extend .important-item;
      width: 100%;
      &:hover{
        @extend .important-item-intent;
      }
    }

    .sub-properties-group{
      padding-left: $gutter-medium;
      @extend .flex-stretched-column;
      .subcategory-container{
        margin-bottom: $gutter-medium;
      }
    }

    input[type="text"] {
      @extend .interactive-item;
      &:hover{
        @extend .interactive-item-intent;
      }
      &:focus{
        @extend .interactive-item-active;
      }
    }
}
