/**
 * style definitions for the Footer component
 *
 * @module fonio/components/Footer
 */
@import '../../parameters.scss';

.fonio-Footer
{
    padding: 0;

    border-top: 1px solid $color-sec-stroke;
    /*
     * root component
     */

    @extend .flex-stretched-row;
    @extend .primary-item;
    justify-content: space-between;

    z-index: 10000;

    /*
     * secondary layout components
     */
    .left-group
    {
        min-width: $gutter-large * 10;
        padding: $gutter-medium;

        @extend .flex-stretched-row;
        align-items: center;
        justify-content: space-between;

        .fonio-lang-toggler
        {
            margin-left: $gutter-medium;
        }
    }

    .right-group
    {
        width: $legend-width;

        @extend .flex-stretched-row;

        button
        {
            padding: $gutter-medium;

            flex: 1;
            @extend .important-item;

            &:not(:first-of-type)
            {
                border-left: 1px solid $color-very-light;
            }
            &:hover
            {
                @extend .important-item-intent;
            }
        }
    }
}
