/**
 * style definitions for the Footer component
 *
 * @module fonio/components/Footer
 */
@import '../../parameters.scss';

.fonio-Footer
{
    @extend .flex-stretched-column;

    margin: $gutter-medium;
    margin-top: $gutter-small;
    
    .mode-btn{
        &.preview{
            @extend .important-item-active;
            &:hover{
                @extend .important-item-intent-active;
            }
        }
    }

    button
    {
        flex: 1;

        padding: $gutter-medium;

        @extend .important-item;

        &:not(:first-of-type)
        {
            margin-top: $gutter-small;
        }
        &:hover
        {
            @extend .important-item-intent;
        }
    }
}
