/**
 * style definitions for the StorySettingsManagerLayout component
 *
 * @module fonio/features/StorySettingsManager
 */

@import '../../../parameters.scss';

.fonio-StorySettingsManagerLayout
{
    flex: 1;
    @extend .flex-stretched-row;
    .settings-pannel
    {
        z-index: 2;

        transition: all $time-short ease;

        flex: 1;
        @extend .flex-stretched-column;
        &.hidden
        {
            max-width: 10%;
            .settings-pannel-body
            {
                margin: 0;

                opacity: .00001;
            }
            h1
            {
                font-size: $font-size-2;

                margin: 0;
                padding: 0;
            }
            .settings-pannel-header,
            .settings-pannel-body
            {
                padding: 0;
            }
            .settings-pannel-header
            {
                display: flex;

                align-items: center;
                flex: 5;
                flex-flow: column nowrap;
                justify-content: center;
            }
            .settings-pannel-body
            {
                flex: 0;
            }
        }
        &.visible
        {
            max-width: 100%;
        }
        .settings-pannel-header,
        .settings-pannel-body
        {
            padding-right: $gutter-medium;
            padding-left: $gutter-medium;
        }
        .settings-pannel-header
        {
            cursor: pointer;
            .fonio-icon-image
            {
                width: $font-size-3;
                height: $font-size-3;
                margin-left: $gutter-medium;
            }
            h1
            {
                @extend .flex-stretched-row;
                span
                {
                    flex: 1;
                }
            }
        }
        .settings-pannel-body
        {
            overflow-y: auto;

            padding-bottom: $gutter-large * 2;

            transition: all $time-short ease;

            opacity: 1;

            flex: 1;
        }
    }
    .preview-container
    {
        position: relative;

        flex: 5;
    }
    .settings-section
    {
        margin-top: $gutter-medium;
        margin-bottom: $gutter-medium;
        .css-customizer-container
        {
            position: relative;
            textarea
            {
                width: 100%;

                @extend .interactive-item;
                &:hover
                {
                    @extend .interactive-item-intent;
                }
                &:focus
                {
                    @extend .interactive-item-active;
                }
            }
            .css-example
            {
                position: absolute;
                top: -1em;
                left: 0;

                pointer-events: none;
            }
        }
    }

    .returnToLanding-btn
    {
        width: 100%;
        margin-bottom: $gutter-medium;
        padding: $gutter-medium;

        @extend .primary-item;
        .fonio-icon
        {
            padding-right: $gutter-small;
            img
            {
                height: 1em;
            }
        }
        &:hover
        {
            @extend .primary-item-intent;
        }
    }

    .global-settings-btn
    {
        margin-right: $gutter-medium;
        margin-left: $gutter-medium;
        padding: $gutter-medium;

        @extend .important-item;
        &:hover
        {
            @extend .important-item-intent;
        }
        // margin-bottom: $gutter-medium;
        img
        {
            position: relative;
            top: $gutter-small;
        }
    }

    @media print
    {
        .settings-pannel
        {
            display: none;
        }
        .quinoa-story-player
        {
            position: fixed;
            top: 0;
            left: 0;
            height: unset;

            overflow: visible;
            
            .references-manager{
                overflow: visible;
                position: unset;
                height: unset;
            }
            .wrapper
            {
                width: unset!important;
                height: unset!important;
                overflow: visible!important;
                 > div
                {
                    overflow: visible!important;

                    width: unset!important;
                    height: unset!important;
                     > div
                    {
                        position: unset!important;

                        overflow: visible!important;
                    }
                }
            }
            .nav
            {
                display: none;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            blockquote,
            figure,
            ul,
            ol,
            .header-titles,
            .unstyled
            {
                margin-right: 0!important;
                margin-left: 0!important;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}
