/**
 * style definitions for the HelpPin component
 *
 * @module fonio/components/HelpPin
 */
@import '../../parameters.scss';

.fonio-help-pin
{
    /*
     * root component
     */
    position: relative;

    overflow: visible;
    // height is set in em here to be proportional to local font size

    height: 2em;
    margin-left: $gutter-small;
    /*
     * specific micro-components
     */
    .pin-icon
    {
        font-size: .7em;

        display: inline-block;

        width: 1.3em;
        height: 1.3em;

        cursor: pointer;
        text-align: center;

        color: $color-very-dark;
        border: 1px solid $color-very-dark;
        border-radius: 50%;

        @extend .animated;
    }
    .pin-content-container
    {
        font-size: $font-size-2;
        font-weight: 400;

        position: absolute;
        z-index: 3000;
        top: 0;
        left: $gutter-large;

        display: inline-block;
        overflow: hidden;

        min-width: 0;
        max-width: 0;
        max-height: 0;
        padding: 0;

        text-align: left;

        opacity: .00001;
        color: $background-default;
        background: $color-very-dark;

        @extend .animated;
        a
        {
            color: inherit;
            background: inherit;
        }
    }
    &.left
    {
        .pin-content-container
        {
            right: $gutter-large;
            left: unset;
        }
    }
    &:hover
    {
        .pin-icon
        {
            color: $background-default;
            background: $color-very-dark;
        }
        .pin-content-container
        {
            min-width: 30rem;
            max-width: 100rem;
            max-height: 10rem;
            padding: $gutter-medium;

            opacity: 1;
        }
    }
}
