/**
 * style definitions for the Toaster component
 *
 * @module fonio/components/Toaster
 */
@import '../../parameters.scss';

.fonio-Toaster
{
    /*
     * root component
     */
    max-height: 0;
    margin: 0;
    padding: 0;

    text-align: center;

    @extend .animated;

    &.success,
    &.error,
    &.fail,
    &.processing
    {
        max-height: 100rem;
        padding: $gutter-medium;
    }

    &.processing
    {
        @extend .important-item;
    }

    &.success
    {
        @extend .important-item-inactive;
    }
    &.error,
    &.fail
    {
        @extend .dangerous-item;
    }
}
