/**
 * style definitions for the InlineCitation component
 *
 * @module fonio/components/InlineCitation
 */
@import '../../parameters.scss';

.fonio-InlineCitation
{
    margin: 0;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    
    @extend .interactive-item;

    display: inline-block;


    .items-container{
        display: flex;
        flex-flow: row nowrap;
    }

    input
    {
        // margin-left: $gutter-medium;
        padding: 0;
        &:hover,
        &:focus
        {
            @extend .interactive-item-intent-active;
        }
        display: inline;
    }

    button,
    a
    {
        font-size: $font-size-1 * .9;
        margin: 0;
        padding-bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        img{
            height: 2em;
            display: inline-block;
        }

        // margin-right: $gutter-medium;
    }
            

    .more-options-container
    {
        padding: $gutter-medium;

        input
        {
            padding: 0;
            &:hover,
            &:focus
            {
                @extend .interactive-item-intent-active;
            }
        }
    }
    .more-options-btn
    {
        // font-size: $font-size-1;

        // margin-right: $gutter-medium;
        // margin-left: $gutter-medium;

        // border-radius: 50%;
        &:hover
        {
            @extend .interactive-item-intent;
        }
    }
}
