/**
 * style definitions for the InlineCitation component
 *
 * @module fonio/components/InlineCitation
 */
@import '../../parameters.scss';

.fonio-InlineCitation
{
    margin: 0;
    padding: $gutter-small 0 $gutter-small 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    border-radius: $gutter-medium;

    @extend .important-item;
    .more-options-container
    {
        padding: $gutter-medium;

        input
        {
            padding: 0;
            &:hover,
            &:focus
            {
                @extend .important-item-intent;
            }
        }
    }
    .more-options-btn
    {
        font-size: $font-size-1;

        margin-right: $gutter-medium;
        margin-left: $gutter-medium;

        border-radius: 50%;
        &:hover
        {
            @extend .important-item-intent;
        }
    }
}
