/**
 * style definitions for the root component
 *
 * @module fonio
 */
@import './parameters.scss';

#mount{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: white;
}