/*
Global SCSS entrypoint
Resets, clearfixes and linking to actual styling
*/

:root
{
    // responsive font size relative to the surface of the screen
    font-size: 1vmax;
}

:global
{
    @import './normalize';
    html
    {
        box-sizing: border-box;
    }

    html,
    body
    {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    *,
    *:before,
    *:after
    {
        box-sizing: inherit;
    }

    /*
  clear-fixes
  */
    button
    {
        color: inherit;
        border: none;
        outline: none;
        background: inherit;
    }
}
