/**
 * global style parameters for the whole app
 *
 * @module fonio
 */
$main-font-stack: 'Source Sans Pro', sans-serif;
$editable-font-stack: 'Source Code Pro', sans-serif;
$display-font-stack: 'Source Sans Pro', serif;
// todo : remove these
//colors
$primary-color: #333;
$background-default: #f4f4f4;
$background-intent: #d6cfc4;
// new colors
$color-sec-bg: #f4f4f4;
$color-sec-stroke: #dddbd9;

$color-very-dark: #333;
$color-very-light: #e5e7e6;
$color-warm-grey: #d6cfc4;

$color-savannah-grey: #c3baac;
$color-fade-grey: #a4a1a1;

$color-turkoise-blue: #3fb0ac;
$color-dark-blue: #173e43;
$color-darkest-blue: #072024;
$color-light-blue: #b8e4e3;

$color-fade-red: #b56969;
$color-brillant-red: #c83c3c;
$color-medium-red: #692323;
$color-dark-red: #3f1010;
$color-pale-red: #d9c3c3;

// gutters
$gutter-small: .3rem;
$gutter-medium: $gutter-small * 2.66;
$gutter-large: $gutter-medium * 2.66;
//responsive breakpoints
$breakpoint-phone: screen and (min-device-width : 320px) and (max-device-width : 480px);
$breakpoint-tablet: screen and (min-device-width : 768px) and (max-device-width : 1024px);

// font sizes
$font-size-1: $gutter-small * 2;
$font-size-2: $font-size-1 * 1.6;
$font-size-2-5: $font-size-1 * 1.9;
$font-size-3: $font-size-2 * 1.6;
$font-size-4: $font-size-3 * 1.6;
$font-size-5: $font-size-4 * 1.6;

// time
$time-short: .2s;

// dimensions
$legend-width: 20rem;


@import './mixins';

// abstract classes
// supposed to be used in other scss definition
// with @extend operator
.text-editable
{
    font-style: $editable-font-stack;

    cursor: text;
}

.animated
{
    transition: all $time-short ease;
}

.absolute-stretched
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.flex-stretched-column
{
    display: flex;

    flex-flow: column nowrap;
    align-items: stretch;
}

.flex-stretched-row
{
    display: flex;

    flex-flow: row nowrap;
    align-items: stretch;
}

.normal-item
{
    color: $color-very-dark;
    background: $color-sec-bg;
}
.normal-item-inactive
{
    cursor: default;

    color: #a4a1a1;
    background: $color-sec-bg;
}

.normal-item-secondary
{
    color: $color-sec-stroke;
}

.primary-item
{
    color: $color-very-dark;
    background: $color-very-light;
}

.primary-item-intent
{
    color: $color-very-dark;
    background: $color-sec-stroke;
}

.interactive-item
{
    cursor: pointer;

    color: $color-very-dark;
    background: $color-very-light;
}
.interactive-item-intent
{
    color: $color-very-dark;
    background: $color-sec-stroke;
}
.interactive-item-active
{
    color: $color-very-dark;
    background: $color-warm-grey;
}
.interactive-item-intent-active
{
    color: $color-very-dark;
    background: $color-savannah-grey;
}
.interactive-item-inactive
{
    cursor: default;

    color: $color-fade-grey;
    background: $color-very-light;
}

.important-item
{
    color: $color-very-light;
    background: $color-turkoise-blue;
}

.important-item-intent
{
    color: $color-very-light;
    background: $color-dark-blue;
}
.important-item-active
{
    color: $color-very-light;
    background: $color-dark-blue;
}
.important-item-intent-active
{
    color: $color-very-light;
    background: $color-darkest-blue;
}
.important-item-inactive
{
    cursor: default;

    color: $color-very-light;
    background: $color-light-blue;
}

.dangerous-item
{
    color: $color-very-light;
    background: $color-fade-red;
}

.dangerous-item-intent
{
    color: $color-very-light;
    background: $color-brillant-red;
}
.dangerous-item-active
{
    color: $color-very-light;
    background: $color-medium-red;
}
.dangerous-item-intent-active
{
    color: $color-very-light;
    background: $color-dark-red;
}
.dangerous-item-inactive
{
    cursor: default;

    color: $color-very-light;
    background: $color-pale-red;
}
