/**
 * style definitions for the EditorLayout component
 *
 * @module fonio/features/Editor
 */

@import '../../../parameters.scss';

/*
 * Primary layout
 */

.fonio-editor
{
    /*
     * root component
     */
    font-family: $main-font-stack;
    font-size: $font-size-2;

    @extend .flex-stretched-column;
    @extend .normal-item;
    /*
     * secondary layout components
     */
    .fonio-main-row
    {
        position: relative;

        display: flex;
        flex-direction: row;

        flex-wrap: nowrap;
        flex: 10;
        .fonio-aside-view
        {
            flex: 1;
        }
        .fonio-editor-container
        {
            padding-right: 10%;
            padding-left: 10%;

            flex: 5;
            @extend .flex-stretched-column;
            .editable-title
            {
                @extend .flex-stretched-row;
                input
                {
                    flex: 1;
                }
            }
            .fonio-draft-editor
            {
                flex: 1;
                @extend .flex-stretched-column;
                .DraftEditor-editorContainer
                {
                    overflow-y: auto;
                }
            }
        }
    }
    .fonio-footer
    {
        z-index: 1;
    }
    .fonio-icon-image
    {
        position: relative;
        top: $gutter-small;

        display: inline;

        width: $font-size-2-5;
        height: $font-size-2-5;
        padding-right: $gutter-small;
    }
    /*
     * Generic components styling
     */
    input,
    textarea,
    button
    {
        @extend .animated;
    }
    a,
    a:hover,
    a:visited,
    a:active
    {
        color: inherit;
    }
    input,
    textarea
    {
        font-family: $editable-font-stack;
    }
    button,
    input,
    textarea
    {
        // font-size: 1rem;
        border: none;
        outline: none;
        background: inherit;
    }
    button:hover,
    input:hover,
    textarea:hover,
    input:focus,
    textarea:focus
    {
        cursor: pointer;

        background: $background-intent;
    }
    button
    {
        text-align: left;
    }
    input
    {
        padding: $gutter-medium;
    }
}

.ReactModal__Content.ReactModal__Content--after-open
{
    border: 1px solid $color-sec-stroke!important;
    border-radius: 0!important;
}

/*
 * Responsive layout adjustments
 */

@media #{$breakpoint-phone}
{
    .fonio
    {
        flex-direction: column;
    }
}
@media #{$breakpoint-tablet}
{
}
